# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envrc

# Flask
instance/
.webassets-cache

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log



# Node / Electron
node_modules/
dist/
